# Core Flask
Flask>=3.0
Werkzeug>=3.0
Jinja2>=3.1
itsdangerous>=2.1
click>=8.1

# Extensions Flask
Flask-Login>=0.6
Flask-WTF>=1.2
WTForms>=3.0
Flask-SQLAlchemy>=3.1
SQLAlchemy>=2.0
Flask-Migrate>=4.0
Alembic>=1.13
Flask-Bcrypt>=1.0
Flask-Cors>=4.0
Flask-Admin>=1.6
Flask-Mail>=0.10.0
Flask-Testing>=0.8
Flask-RESTful>=0.3
Flask-SocketIO>=5.0
Flask-Uploads>=0.2

# Background tasks & realtime
eventlet>=0.33
redis>=5.0
celery>=5.0
kombu>=5.0
flower>=1.0

# Utils
bcrypt>=4.0
python-dotenv>=1.0
requests>=2.30
email-validator>=2.2
pandas>=2.0

# Testing
pytest>=7.0
pytest-flask>=1.2
pytest-cov>=4.0
coverage>=7.0

# Deployment
gunicorn>=20.0
