{% extends 'base.html' %}
{% block title %}Connexion{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/login.css') }}">
{% endblock %}

{% block content %}
<h2>Connexion</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.username.label }}<br>{{ form.username }}<br>
    {{ form.password.label }}<br>{{ form.password }}<br>
    {{ form.submit }}
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/user/login.js') }}"></script>
{% endblock %}
