{% extends 'base.html' %}

{% block title %}Soumettre un dossier{% endblock %}

{% block content %}
<h2>Soumettre un dossier</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <label>Prénom:</label>
    {{ form.first_name() }}<br>

    <label>Nom:</label>
    {{ form.last_name() }}<br>

    <label>Email:</label>
    {{ form.email() }}<br>

    <label>Type de métier:</label>
    {{ form.job_type() }}<br>

    <label>Site:</label>
    {{ form.site() }}<br>

    <label>Fichiers (PDF, Word, images...):</label>
    {{ form.files() }}<br>

    {{ form.submit() }}
</form>
{% endblock %}
